@font-face {
    font-family: 'FRM325x8'; 
    src: url('/src/assets/fonts/FRM325x8.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
@import "base/common";
@import "base/reset";